{{ define "main" }}

<section>
  <div class="container">
    <div class="row">

      {{ $blogPages := sort (where .Site.RegularPages "Params.type" "blog") "File.Path" "desc" }}
      {{ $fotoPages := sort (where .Site.RegularPages "Params.type" "foto") "File.Path" "desc" }}
      {{$.Scratch.Set "blogCounter" 0 }}
      {{$.Scratch.Set "fotoCounter" 0 }}

      {{ range .Site.Params.voorpagina_layout_schema }}

        {{ range . }}

          {{ $widget := split . "-" }}

          {{$.Scratch.Set "renderPage" "skip" }}

          {{ if eq (index $widget 1) "lijst" }}

              {{ $partial := printf "fp-%s-%s%s.html" (index ($widget) 0) (index ($widget) 1) (index ($widget) 2) }}

              {{- partial $partial $.Site -}}

          {{else}}
            {{ if eq (index $widget 2) "blog" }}

              {{ if (len $blogPages) gt ($.Scratch.Get "blogCounter")}}
                {{ $.Scratch.Set "renderPage" (index $blogPages ($.Scratch.Get "blogCounter"))}}
                {{ $.Scratch.Set "blogCounter" (add ($.Scratch.Get "blogCounter") 1) }}
              {{end}}

            {{ else if eq (index $widget 2) "foto" }}

                {{ $.Scratch.Set "renderPage" (index $fotoPages ($.Scratch.Get "fotoCounter"))}}
                {{ $.Scratch.Set "fotoCounter" (add ($.Scratch.Get "fotoCounter") 1) }}

            {{end}}

            {{ if ($.Scratch.Get "renderPage") ne "skip" }}
            {{ $partial := printf "fp-%s-%s.html" (index ($widget) 0) (index ($widget) 1) }}
            {{- partial $partial ($.Scratch.Get "renderPage") -}}
            {{ end }}

          {{end}}


        {{ end }}

      {{ end }}

    </div>
  </div>
</section>

{{ end }}
