<div class="col-md-12 mb-3">
    <div class="row">
      <div class="col-md-4">
        <article class="card">
          <div class="card-body px-2">
            <h6><a href="{{ .Permalink }}" class="d-block my-3">{{.Title}}</a></h6>
            <p class="card-text">{{ .Summary }}</p>
          </div>
        </article>
      </div>
      <div class="col-md-8">
        {{ $images := .Resources.Match "headerimgs/*" }}
        {{ range first 1 $images }}
        {{ $imageResource :=  .  }}
        <img src="{{.Permalink}}" class="card-img-top" style="height:300px;object-fit:cover;" alt="">
        {{ end }}
      </div>
    </div>
</div>
