{{ define "main" }}

<section class="section-sm">
  <div class="container">
    <div class="row">
      <div class="offset-md-1 col-md-4 mb-3">
        <h3 class="diapos"><span>Agenda.</span></h3>
      </div>
    </div>
    <div class="row">

      {{ range $.Site.Data.agenda.data}}
      <div class="offset-md-1 col-md-4 mb-3 card">
        <p class="pt">
        <h6>{{.datum}}</h6>
        <strong>{{.voorstelling}}</strong></br>
        <br/>
        {{.locatie}}
        </p>
      </div>
      {{ end }}

    </div>
  </div>
</section>

{{ end }}
