/* Button style */

.btn {
  font-size: 20px;
  line-height: 1.2;
  font-family: $headlines-font;
  xtext-transform: capitalize;
  padding: 5px 6px 0 6px;
  border-radius: 0;
  border: 0px solid;
  position: relative;
  z-index: 1;
  transition: .2s ease;

  &:hover,
  &:active,
  &:focus {
    outline: 0;
    box-shadow: 0 !important;
  }
}

$randomNumber: 0 - random(1);
$randomNumber2: random(1);
$randomNumber3: 0 - random(1);

button:nth-child(1n) {
  transform: scale(1) rotate($randomNumber + deg);
}
button:nth-child(2n) {
  transform: scale(1) rotate($randomNumber2 + deg);
}
button:nth-child(3n) {
  transform: scale(1) rotate($randomNumber3 + deg);
}

.btn-primary {
  background: $dubbelspaanswit;
  color: $black;
  border-color: $primary-color;

  &:active,
  &:hover,
  &.focus,
  &.active {
    background: $primary-color !important;
    border-color: $primary-color !important;
  }
}

.btn-outline-primary {
  background: transparent;
  color: $text-color;
  border-color: $primary-color;

  &:active,
  &:hover,
  &.focus,
  &.active {
    background: $primary-color !important;
    border-color: $primary-color !important;
    color: $white;
  }
}
