// Color Variables
$primary-color: #04724D;

$text-color: #595959;
$text-color-dark: #595959;
$text-color-light: #959595;
$body-color: #fff;
$border-color: #CFAD97;
$black: #000;
$white: #fff;
$gray: #D6CAAC;

// kleuren
$flessengroen: #04724D;
$dubbelspaanswit: #D6CAAC;
$kasjmier: #CFAD97;
$mortar: #595959;

// Font Variables
$primary-font: 'PT Sans', sans-serif;
$headlines-font: 'Special Elite', serif;
$icon-font: 'themify';
