{{ define "main" }}

<!-- blog post -->
<section class="section-sm">
  <div class="container">

    <div class="row">

      <div class="col-12 col-md-9 mt">

        <div class="container">

          <div class="row">

            {{ $paginator := .Paginate (where .Data.Pages "Type" "blog") }}
            {{ range $paginator.Pages }}

            {{ $partial := printf "fp-1-05-fotokaart.html" }}
            {{- partial $partial . -}}

            {{ end }}
          </div>
        </div>
      </div>

      <div class="col-3 mt-5 d-none d-md-block">
        <h5>Categorieën</h5>
          {{ range .Site.Taxonomies.categories }}
          <span class="elite mr-2"><a href="{{ .Page.RelPermalink }}">{{ .Page.Title }}.</a></span>
          {{ end }}
      </div>



      <!-- pagination -->
      <div class="col-12 mt-5">
        {{ template "_internal/pagination.html" . }}
      </div>
    </div>
  </div>
</section>
<!-- /blog post -->

{{ end }}
